<nav class="navbar navbar-inverse navbar-fixed-top add">
  <div class="container add">
      <a class="navbar-brand shift" href="#"><h1>Welcome to my Github Browser</h1></a>

  </div>
</nav>
<div class="container-fluid rout">
<a routerLink="findrepo"><b>SearchByUser</b></a>
<a routerLink="findlanguage"><b>SearchBylanguage</b></a>
</div>
<div>
  <img [src]="image">
</div>
<router-outlet></router-outlet>
<footer> <div class="footer"><!--the sixth division defined as the footer-->
  <p>Page Created By Ishan Mishra</p>
</div></footer>




